.navibar{
    float:right;
    margin: 20px;
}

.nav-item{
    text-decoration: none;
    color: black;
    margin-right: 15px;
    
}

.nav-item:hover{
    text-decoration: underline;
}

body{
    display: contents;
}

.main{
    margin-top: 150px;
    text-align: center;
}

.input-area{
    margin-top: 20px;
}

.input-box{
    width: 584px;
    height: 46px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 16px;
}

.search-icon{
    position: relative;
    left: 40px;
    color: #9aa0a6;
}

.mic-icon{
    position: relative;
    right: 40px;
    color: #9aa0a6;
}

.button-area{
    padding-top: 18px;
}

.button-style{
    height: 36px;
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    padding: 0 16px;
    margin: 11px 4px;
}

.button-style:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #202124;
}

.google-image{ 
    display: block;
    margin: 50px auto 20px auto;
    width: 272px;
    height: 92px;
}

.footer{
    position: absolute;
    bottom: 0px;
    background-color: #f2f2f2;
    width: 100%;
    padding: 10px;
}

.footer-country{
    padding: 15px 30px;
    border-bottom: 1px solid #e4e4e4;
    font-size: 15px;
    color: rgba(0,0,0,.54);
    margin-left: 30px;
}

.second-line{
    padding: 15px 30px;
    font-size: 14px;
    color: rgba(0,0,0,.54);
}

.second-line-second{
    float:right;
    padding: 15px 30px;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

.second-line-first{
    float: left;
    padding: 15px 30px;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

.footer-item{
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

.footer-item:hover{
    text-decoration: underline;
}
   