.mother{
    flex-direction: column;
}

.black{
    background-color: black;
    border: 2px solid white;
    font-style: italic;
    color: white;
    width: 100px;
    height: 100px;
}

.box2{
    margin: 0 auto;
}

.box:nth-child(3){
    margin-left: auto;

}
