h1 {
    color: #9b59b6;
}

h1::before{
    content:"Topic:";
}
h1:first-child{
    text-align: center;
}

p {
    font-size: 16px;
    font-style: italic;
    font-family:Verdana;
}



.sub-header{
    color: #2980b9;
}

p::first-letter{
    color: #2980b9;
    font-size: 200%;
}

body{
    padding-left: 10%;
}

